body{
    padding-top: 800px;
    margin: 0;
    text-align: center;
}
.profile{
            width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome{
    position: absolute;
    color:darkolivegreen;
    background-color: linear-gradient(#05ffa8 0%, #9bff05 100%);
    width: 100%;
    height: 100%;
    display:table;
    bottom: 0;
    z-index: 9;
        

}
h1{
    font-size:30px;
    font-family:monospace;
     font-weight: 300;
    line-height: 1.2;
}
h2{
    font-size:31px;
    font-family:sans-serif;
     font-weight: 300;
    line-height: 1.2;
}
#name{
    font-size:60px;
    font-family:inherit;
     font-weight: 300;
    line-height: 1.2;
}
#bio{
    padding:50px;
    font-size: 40px;
}
.line{
    height: 6px;
    background-color: aqua;
    width:70px;
    margin: 8px auto;
}
p{
    font-size:45px;
    line-height: 1.3;
    max-width: 450px;
    margin:25px auto;
}
.menu{
    position: fixed;
    font-family: cursive;
    cursor: pointer;
    top: 0px;
    margin-top: 0px;
    z-index: 10;
    width:100%;
    list-style: none;
}
.links{
   
    color: darkviolet;
    padding-left: 33px;
      padding-right: 25px;
    font-family: cursive;
    font-size: 18px;
    float: left;
    
}
.links:hover{
   font-size: 25px;
    text-decoration: underline;
}
.parallax-inner{
    vertical-align: middle;
    position:relative;
    display:table-cell;
}
html{
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
    color: darkorchid;
    text-shadow:2px 2px gainsboro;
}
.article:hover{
    color:darkmagenta;
}
#writings a{
text-shadow: none;
text-decoration: underline;
color: aqua;    
}
#contact{
    background: red;
    
}
#contact iframe{
    width: 100%;
}
.contact_1 h3{
    display: inline;
}
.contact_1 a{
    color: aliceblue;
    text-shadow: none;
}